body {
    background-color: black
}

.titulo {
    color: aliceblue;
    text-align: center;
    font-size: 2em;
    font-family: 'Bebas Neues', sans-serif;
    text-shadow: 20px;
    text-shadow: 1px 1px 4px rgb(0, 0, 0);
}

.container {
    display: grid;
}

.produtos {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
    margin-left: 120px;
    background-color: rgb(49, 48, 48);
    align-items: center;
    margin: auto;
    width: 70%;
    height: max-content;
}

.titulo_interno {
    color: aliceblue;
    text-align: center;
    font-size: 2em;
    font-family: 'Bebas Neus', sans-serif;
    text-shadow: 20px;
    text-shadow: 1px 1px 4px rgb(0, 0, 0);
    background-color: rgb(19, 18, 18);
}

footer {
    background-color: rgb(207, 205, 205);
    margin: auto;
    width: 70%;
    color: rgb(0, 0, 0);
    text-align: center;
}

.banners {
    align-items: center;
    margin: auto;
}
