body {
    background-color: black
}

.titulo {
    color: aliceblue;
    text-align: center;
    font-size: 2em;
    font-family: 'Bebas Neues', sans-serif;
    text-shadow: 20px;
    text-shadow: 1px 1px 4px rgb(0, 0, 0);
}

.container {
    display: grid;
}

.produtos {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
    margin-left: 120px;
    background-color: rgb(49, 48, 48);
    align-items: center;
    margin: auto;
    width: 70%;
    height: max-content;
}

.produtos img {
    margin-right: 15px;
    margin-left: 12px;
}

.titulo_interno {
    color: aliceblue;
    text-align: center;
    font-size: 2em;
    font-family: 'Bebas Neus', sans-serif;
    text-shadow: 20px;
    text-shadow: 1px 1px 4px rgb(0, 0, 0);
    background-color: rgb(19, 18, 18);
}

footer {
    background-color: rgb(207, 205, 205);
    margin: auto;
    width: 70%;
    color: rgb(0, 0, 0);
    text-align: center;
}

.banners {
    align-items: center;
    margin: auto;
}

img {
    transition: transform 0.5s ease;
    cursor: pointer;
}

.img-expandida {
    transform: scale(1.9);
    z-index: 10;
    position: relative;
}

@media (max-width: 768px) {

    body {
        margin: 0;
        padding: 0;
    }

    .container {
        width: 100%;
        display: block;
    }

     .container_produtos {
        width: 100%;
        padding: 0;
        margin: 0 auto;
    }

    .banners img {
        width: 100%;
        height: auto;
    }

    .produtos {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2, 1fr); 
        gap: 10px;
    }

    .produtos h2 {
        grid-column: span 2;
        text-align: center;
        width: 100%;
    }

    .produtos img {
        width: 100%;
        height: auto;
        max-width: 150px;
        margin: auto;
        display: block;

    }

    footer {
        width: 100%;
        font-size: 0.9em;
    }

    .titulo {
        font-size: 10px;
    }

   .titulo_interno {
        width: 100%;           
        text-align: center;        
        font-size: 1.4em;         
        padding: 10px 0;
        display: block;
        margin: 0 auto 20px auto;
    }

    .produtos img.selecionado {
        transform: scale(1.02);
        z-index: 10;
    }

    h1 img {
        height: 60px;
    }
}

